{{> head }} 
{{> navbar active2=true }}
<div class="jumbotron">

    <div class="row">
        <div class="col-8">
            <h1>About Us</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis delectus quo iure doloremque fuga debitis
                maiores quas perspiciatis, ut quasi in voluptatibus nihil quidem sint corporis velit sequi magnam magni?</p>
        </div>

        <div class="col-4">
            <img src="/assets/img/about.jpg" alt="" class="img-thumbnail">
        </div>
    </div>
</div>

{{> footer}}